
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

media/

staticfiles/

.env.*
!.env.example

# ===============================
**/migrations/__pycache__/

.coverage
htmlcov/
.pytest_cache/

.idea/
.vscode/
*.swp
.DS_Store
Thumbs.db

dist/
build/
*.egg-info/

celerybeat-schedule
celerybeat.pid

logs/
